### Mini Project #0206 : 전국 인구조사 데이터
1. “data_population csv” 데이터를 읽어온다.  
  읽어 올 때 빈 셀은 결측치 (NaN) 로 인식한다. HINT: na_values 인자
2. 결측치가 포함된 행은 제거한다.
3. 도별로 인구를 합계 한다. (sum)
    - groupby 메서드 사용
    - pivot_table 메서드 사용

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data_population.csv', encoding='ms949')

In [3]:
df.isnull().sum()

Unnamed: 0     0
Province       0
City           0
Population     0
Households     0
PersInHou      0
Male           0
Female         0
GenderRatio    0
dtype: int64

In [4]:
df = pd.read_csv('data_population.csv', encoding='ms949', na_values=[' '])

In [5]:
df.isnull().sum()

Unnamed: 0      0
Province        0
City           18
Population      0
Households      0
PersInHou       0
Male            0
Female          0
GenderRatio     0
dtype: int64

In [6]:
df.shape

(281, 9)

In [7]:
df.head()

,Unnamed: 0,Province,City,Population,Households,PersInHou,Male,Female,GenderRatio
0,1,서울특별시,NaN,10078850,4197478,2.40,4962774,5116076,0.97
1,2,서울특별시,종로구,155695,72882,2.14,76962,78733,0.98
2,3,서울특별시,중구,126817,59614,2.13,63292,63525,1.00
3,4,서울특별시,용산구,235186,108138,2.17,114119,121067,0.94
4,5,서울특별시,성동구,298145,126915,2.35,148265,149880,0.99

In [8]:
df.count()

Unnamed: 0     281
Province       281
City           263
Population     281
Households     281
PersInHou      281
Male           281
Female         281
GenderRatio    281
dtype: int64

In [9]:
df.dropna(axis=0, inplace=True)

In [10]:
df.count()

Unnamed: 0     263
Province       263
City           263
Population     263
Households     263
PersInHou      263
Male           263
Female         263
GenderRatio    263
dtype: int64

In [11]:
# df.groupby('Province').Population.sum() 
# df.groupby('Province')['Population'].sum() 
df.groupby('Province')[['Population']].sum()

          Population
Province
강원도          1547166
경기도         18723822
경상남도         4428762
경상북도         3215695
광주광역시        1476974
대구광역시        2491137
대전광역시        1525656
부산광역시        3517491
서울특별시       10078850
울산광역시        1169768
인천광역시        2914271
전라남도         1902638
전라북도         2523806
제주특별자치도       615250
충청남도         2671383
충청북도         2414568

In [12]:
df.pivot_table(index='Province', values='Population', aggfunc=np.sum)

          Population
Province
강원도          1547166
경기도         18723822
경상남도         4428762
경상북도         3215695
광주광역시        1476974
대구광역시        2491137
대전광역시        1525656
부산광역시        3517491
서울특별시       10078850
울산광역시        1169768
인천광역시        2914271
전라남도         1902638
전라북도         2523806
제주특별자치도       615250
충청남도         2671383
충청북도         2414568

In [13]:
df.pivot_table(columns='Province', values='Population', aggfunc=np.sum)

Province,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,울산광역시,인천광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도
Population,1547166,18723822,4428762,3215695,1476974,2491137,1525656,3517491,10078850,1169768,2914271,1902638,2523806,615250,2671383,2414568