### Mini Project #0205 : 혈액형과 신장

1. “data_studentlist_en csv” 데이터를 읽어온다
2. 혈액형 별 신장을 구한다
    - groupby 메서드 사용
    - pivot_table 메서드 사용

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('data_studentlist_en.csv')

In [3]:
df.shape

(17, 8)

In [4]:
df.groupby('bloodtype')['height'].mean()

bloodtype
A     169.075
AB    177.400
B     171.280
O     165.140
Name: height, dtype: float64

In [5]:
df.pivot_table(index = 'bloodtype', values = 'height', aggfunc=np.mean) # 세로 방향으로

            height
bloodtype
A          169.075
AB         177.400
B          171.280
O          165.140

In [6]:
df.pivot_table(columns = 'bloodtype', values = 'height', aggfunc=np.mean) # 가로 방향으로

bloodtype        A     AB       B       O
height     169.075  177.4  171.28  165.14